[Unit]
Description=Under floor heating service
After=network-online.target

[Service]
Type=forking
Restart=always
RestartSec=10
RuntimeDirectory=ufh-controller
RuntimeDirectoryMode=755
ExecStart=@INSTALL_PATH@/ufh-controller.py --pid-file ${RUNTIME_DIRECTORY}/ufh-controller.pid $UFH_ARGS
PIDFile=/run/ufh-controller/ufh-controller.pid
EnvironmentFile=-/etc/default/ufh-controller

[Install]
WantedBy=multi-user.target
